<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="jade">

    <title>Jade - Plant Shop HTML5 Template</title>

    {{ content_for_header }}

    <link href="{{ 'themify-icons.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'icomoon.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'pe-icon-7-stroke.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'flaticon.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'bootstrap.min.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'animate.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'owl.carousel.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'owl.theme.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'slick.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'slick-theme.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'swiper.min.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'owl.transitions.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'jquery.fancybox.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'jquery-ui.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'style.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'custom.css' | asset_url }}" rel="stylesheet">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- start page-wrapper -->
    <div class="page-wrapper">
      <div class="body-overlay"></div>

      <!-- start preloader -->
      <div class="preloader">
        <div class="sk-chase">
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
        </div>
      </div>
      <!-- end preloader -->

      {% section 'header' %}

      {{ content_for_layout }}

      {% section 'footer' %}
    </div>
    <!-- end of page-wrapper -->

    <!--
      All JavaScript files
      ==================================================
    -->
    <script src="{{ 'jquery.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'bootstrap.min.js' | asset_url }}" defer="defer"></script>

    <!-- Plugins for this template -->
    <script src="{{ 'jquery-plugin-collection.js' | asset_url }}" defer="defer"></script>

    <!-- Custom script for this template -->
    <script src="{{ 'script.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
