<!-- start best-seller-section -->
<section class="best-seller-section section-padding">
  <div class="container-1410">
    <div class="row">
      <div class="col col-xs-12">
        <div class="section-title-s2">
          <h2>{{ section.settings.best_seller_title }}</h2>
        </div>
        <a href="#" class="more-products">{{ section.settings.best_more_product_title }}</a>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12">
        <div class="products-wrapper">
          <form class="form" action="/cart/add" method="post" enctype="multipart/form-data" id="addToCart">
            <ul class="products product-row-slider">
              {% assign limitData = section.settings.best_seller_limit_product %}
              {% for product in collections[section.settings.best_seller_collection].products limit: limitData %}
                <li class="product">
                  <input
                    type="hidden"
                    class="variant-idss"
                    id="variant-id"
                    name="id"
                    value="{{ product.variants.first.id }}"
                  >
                  <div class="product-holder">
                    <div class="product-badge discount">
                      -
                      {{-
                        product.compare_at_price_max
                        | minus: product.price
                        | times: 100.0
                        | divided_by: product.compare_at_price_max
                        | money_without_currency
                        | times: 100
                        | remove: '.0'
                      -}}
                      %
                    </div>
                    <a href="{{ product.url }}"
                      ><img
                        loading="lazy"
                        src="{{ product.featured_image | product_img_url: 'medium' }}"
                        alt
                    ></a>
                    <div class="shop-action-wrap">
                      <ul class="shop-action">
                        <li>
                          <a href="#" title="Quick view!"><i class="fi flaticon-view"></i></a>
                        </li>
                        <li>
                          <a href="#" title="Add to Wishlist!"
                            ><i
                              class="fi icon-heart-shape-outline"
                            ></i
                          ></a>
                        </li>
                        <li>
                          <a href="cart.html" type="submit" title="Add to cart!"
                            ><i
                              class="fi flaticon-shopping-cart"
                            ></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-info">
                    <h4>
                      <a href="{{ product.url }}">{{ product.title }}</a>
                    </h4>
                    <span class="woocommerce-Price-amount amount">
                      <ins>
                        <span class="woocommerce-Price-amount amount">
                          <bdi><span class="woocommerce-Price-currencySymbol"></span>{{ product.price | money }}</bdi>
                        </span>
                      </ins>
                      {% if product.compare_at_price_max > 0 %}
                        <del>
                          <span class="woocommerce-Price-amount amount">
                            <bdi
                              ><span class="woocommerce-Price-currencySymbol"></span>
                              {{- product.compare_at_price_max | money -}}
                            </bdi>
                          </span>
                        </del>
                      {% endif %}
                    </span>
                  </div>
                  <div class="quick-view-single-product">
                    <div class="view-single-product-inner clearfix">
                      <button class="btn quick-view-single-product-close-btn">
                        <i class="pe-7s-close-circle"></i>
                      </button>
                      <div class="img-holder">
                        <img loading="lazy" loading="lazy" src="{{ product.featured_image | img_url: 'original' }}" alt>
                      </div>
                      <div class="product-details">
                        <h4>{{ product.title }}</h4>
                        <div class="price">
                          <span class="current">{{ product.price | money }}</span>
                          <span class="old">{{ product.compare_at_price_max | money }}</span>
                        </div>
                        <div class="rating">
                          <i class="fi flaticon-star"></i>
                          <i class="fi flaticon-star"></i>
                          <i class="fi flaticon-star"></i>
                          <i class="fi flaticon-star"></i>
                          <i class="fi flaticon-star-social-favorite-middle-full"></i>
                          <span>(2 Customer review)</span>
                        </div>
                        <p>{{ product.description }}</p>
                        <div class="product-option">
                          <div class="product-row">
                            <div>
                              <input id="product-count" class="product-count" type="text" value="1" name="quantity">
                            </div>
                            <div>
                              <button type="submit">Add to cart</button>
                            </div>
                          </div>
                        </div>
                        <div class="thb-product-meta-before">
                          <div class="add-to-wishlist">
                            <a href="#" class="add_to_wishlist">
                              <i class="pe-7s-like"></i>
                              <span>Add To Wishlist</span>
                            </a>
                          </div>
                          <div class="product_meta">
                            {%- assign current_variant = product.selected_or_first_available_variant -%}
                            {% if current_variant.sku != blank %}
                              <span class="sku_wrapper"
                                >SKU: <span class="sku">{{ current_variant.sku }}</span></span
                              >
                            {% endif %}

                            <span class="posted_in"
                              >Categories:
                              {% for collection in product.collections %}
                                <a href="{{ collection.url }}">{{ collection.title }}</a>,
                              {% endfor %}
                            </span>

                            <span class="tagged_as"
                              >Tags:
                              {% for tag in product.tags %}
                                <a href="{{ tag.url }}">{{ tag }}</a>,
                              {% endfor %}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end quick-view-single-product -->
                </li>
              {% endfor %}
            </ul>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end container-1410 -->
</section>
<!-- end best-seller-section -->

{% schema %}
{
  "name": "Best Selling Section",
  "settings": [
    {
      "type": "range",
      "id": "best_seller_limit_product",
      "min": 1,
      "max": 50,
      "step": 1,
      "label": "Product Limit",
      "default": 10
    },
    {
      "type": "text",
      "id": "best_seller_title",
      "label": "Product Title",
      "default": "Best Seller"
    },
    {
      "type": "text",
      "id": "best_more_product_title",
      "label": "More Products",
      "default": "MORE PRODUCTS"
    },
    {
      "type": "url",
      "id": "best_seller_link",
      "label": "More Products Link"
    },
    {
      "type": "collection",
      "id": "best_seller_collection",
      "label": "Best Seller Collection"
    }
  ],

  "presets": [
    {
      "name": "Best Selling Section"
    }
  ]
}
{% endschema %}
