<!-- Start header -->
<header id="header" class="site-header header-style-1">
  <div class="topbar">
    <div class="topbar-text">
      <p>{{ section.settings.topbar_text }}</p>
    </div>
  </div>
  <!-- end topbar -->

  <nav class="navigation navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="open-btn">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          {% if section.settings.logo != blank %}
            <img loading="lazy" src="{{ section.settings.logo | img_url: '' }}" alt>
          {% else %}
            <img loading="lazy" src="{{ 'logo.png' | asset_url }}" alt>
          {% endif %}
        </a>
      </div>
      <div class="header-left">
        <div class="side-info-bars">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="side-info-content">
          <button class="btn side-info-close-btn"><i class="ti-close"></i></button>
          <div class="logo">
            {% if section.settings.logo != blank %}
              <img loading="lazy" src="{{ section.settings.logo | img_url: '' }}" alt>
            {% else %}
              <img loading="lazy" src="{{ 'logo.png' | asset_url }}" alt>
            {% endif %}
            {% comment %} <img loading="lazy" src="{{ 'slidbar-logo.png' | asset_url }}" alt> {% endcomment %}
          </div>
          <div class="text">
            <p>{{ section.settings.sidebar_text }}</p>
            <ul class="info">
              <li>Contact us: {{ section.settings.phone }}</li>
              <li>Mail us: {{ section.settings.email }}</li>
            </ul>
            <ul class="social-links">
              {% if section.settings.facebook != blank %}
                <li>
                  <a href="{{ section.settings.facebook }}"><i class="ti-facebook"></i></a>
                </li>
              {% endif %}
              {% if section.settings.twitter != blank %}
                <li>
                  <a href="{{ section.settings.twitter }}"><i class="ti-twitter-alt"></i></a>
                </li>
              {% endif %}
              {% if section.settings.printerest != blank %}
                <li>
                  <a href="{{ section.settings.printerest }}"><i class="ti-pinterest"></i></a>
                </li>
              {% endif %}

              {% if section.settings.vimeo != blank %}
                <li>
                  <a href="{{ section.settings.vimeo }}"><i class="ti-vimeo-alt"></i></a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="search-area">
          <form class="searchform" action="{{ routes.search_url }}">
            <button type="submit"><i class="fi flaticon-search"></i></button>
            <input type="text" placeholder="Search for.." name="q" value="{{ search.terms | escape }}">
          </form>
        </div>
      </div>
      <div id="navbar" class="navbar-collapse collapse navigation-holder">
        <button class="close-navbar"><i class="ti-close"></i></button>
        <ul class="nav navbar-nav">
          {% for link in section.settings.main_menu.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% if link.links.size > 0 %}
              <li class="menu-item-has-children">
                {% for child_link in link.links %}
                  <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                  {% if child_link.links.size > 0 %}
                    <ul class="sub-menu">
                      {% for grandchild_link in child_link.links %}
                        <li>
                          <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endfor %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <!-- end of nav-collapse -->
      <div class="header-right">
        <div class="my-account-link">
          <a href="#"><i class="icon-user"></i></a>
        </div>
        <div class="wishlist-box">
          <a href="#"><i class="icon-heart-shape-outline"></i></a>
        </div>
        <div class="mini-cart">
          <button class="cart-toggle-btn">
            <i class="icon-large-paper-bag"></i> <span class="cart-count">{{ cart.item_count }}</span>
          </button>
          <div class="mini-cart-content">
            <div class="mini-cart-items">
              {% for item in cart.items %}
                <div class="mini-cart-item clearfix">
                  <div class="mini-cart-item-image">
                    <a href="{{ item.url }}"
                      ><img
                        loading="lazy"
                        src="{{ item.image | img_url: 'origianl' }}"
                        alt
                    ></a>
                  </div>
                  <div class="mini-cart-item-des">
                    <a href="{{ item.url }}">{{ item.title }}</a>
                    <span class="mini-cart-item-quantity">Qty: {{ item.quantity }}</span>
                    <span class="mini-cart-item-price">{{ item.price | money }}</span>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="mini-cart-action clearfix">
              <span class="mini-checkout-price">Subtotal: {{ cart.items_subtotal_price | money }}</span>
              <a href="/cart" class="view-cart-btn">View Cart</a>
              <form action="/cart" method="post" id="cartUpdate" novalidate>
                <button type="submit" name="checkout" class="checkout-btn checkoutbtn">Checkout</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of container -->
  </nav>
</header>
<!-- end of header -->

{% schema %}
{
  "name": "Header Section",
  "settings": [
    {
      "type": "text",
      "id": "topbar_text",
      "label": "Topbar Text",
      "default": "Join our Plant Shop and get 25 % off ! Coupon code : HexaTB87"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone Number",
      "default": "+0001879556559"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email Address",
      "default": "email@email.com"
    },
    {
      "type": "text",
      "id": "sidebar_text",
      "label": "Sidebar Text",
      "default": "Covered the whole of her lower arm towards the viewer gregor then turned to look out the window"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "url",
      "id": "facebook",
      "label": "Facebook Link"
    },
    {
      "type": "url",
      "id": "twitter",
      "label": "Facebook Link"
    },
    {
      "type": "url",
      "id": "printerest",
      "label": "Printerest Link"
    },
    {
      "type": "url",
      "id": "vimeo",
      "label": "Vemeo Link"
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Main Menu"
    }
  ],

  "presets": [
    {
      "name": "Header Section"
    }
  ]
}
{% endschema %}
