<!-- start page-title -->
<section class="page-title">
  <div class="page-title-container">
    <div class="page-title-wrapper">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            {% if section.settings.page_title %}
              <h2>{{ section.settings.page_title }}</h2>
            {% else %}
              <h2>{{ page.title }}</h2>
            {% endif %}
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              {% if section.settings.page_title %}
                <li>{{ section.settings.page_title }}</li>
              {% else %}
                {% if page.title %}
                  <li>{{ template }}</li>
                {% endif %}
                <li>{{ template }}</li>
              {% else %}

              {% endif %}
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </div>
</section>
<!-- end page-title -->

{% schema %}
{
  "name": "Hero Section",
  "settings": [
    {
      "type": "text",
      "id": "page_title",
      "label": "Title",
      "default": "Home"
    }
  ],

  "presets": [
    {
      "name": "Hero Section"
    }
  ]
}
{% endschema %}
